body {
  background-color: #F0EBE4;
  font-family: 'Josefin Sans', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-bg {
  background-color: #F0EBE4;
}
.custom-bg-b {
  background-color: #303131;
}
.custom-bg-y1 {
  background-color: #FDA50F;
}
.custom-bg-y2 {
  background-color: #F09700;
}

